* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    color:#F7444E;
}


#header{
    position: relative;
    display: block;
}

.X1{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url(port.jpg);

}
#blackOverlay{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    background-color: #000;
}
.SkillsSection{
    color: #002C3E;
    padding: 0 70px 20px 70px;
    text-align: center;

}
.SkillsSection h1{
    font-size: 30px;
    color:#002C3E ;
    font-weight: 600;
    letter-spacing: 1px;
}
.skills{
    text-align: center;

}

.skills h4{
    font-size: 19px;
    font-weight: 700;
}

.owl-nav span{
    font-size: 30px;
}


.chart{
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}
.chart canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
    line-height: 152px;
    display: inline-block;
    font-size: 25px;
}
.chart .percent:after{
    content: '%';
}

.chart1{
    position: relative;
    width: 200px;
    height: 200px;
    display: inline-block;
    text-align: center;
}
.chart1 canvas{
    position: absolute;
    left: 0;
    top: 0;
}

.chart1 .percent{
    line-height: 200px;
    font-size: 25px;
}
@media screen and (max-width:768px){
    .chart1{
        width: 100%;
        height: auto;
    }
    .chart1 .percent {
        font-size: 18px;
    }
    .language{
        display: none;
    }
}





#container{
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: #e2e8f0;
}

#A1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*Small */
@media (min-width: 640px) {
    #A1 {
        max-width: 640px;
    }
    .A8{
        margin-top: 0;
    }
}
/*Medium */
@media (min-width: 768px) {
    #A1 {
        max-width: 768px;
    }
}
/*Large */
@media (min-width: 1024px) {
    #A1 {
        max-width: 1024px;
    }
    .A5{
        width: 25%;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .A7{
        width: 33.333333%;

    }
    .A9{
        width: 33.333333%;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .A10{
        padding-top: 1rem;
    }
    .profile-img{
        margin-left: -4rem;
    }
}
/*X Large */
@media (min-width: 1280px) {
    #A1 {
        max-width: 1280px;
        -webkit-box-ordinal-group: 4;
        order: 3;
        text-align: right;
        align-self: center;
    }
}

@media (min-width: 1024px) {


.A2 {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-width: 0;
    overflow-wrap: break-word;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    border-radius: 0.5rem;
    margin-top: -16rem;
}

.A3{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.A4{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.A5{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}
.A6{
    position: relative;
}

.profile-img{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 9999px;
    height: auto;
    vertical-align: middle;
    border-style: none;
    position: absolute;
    margin: -4rem;
    margin-left: -5rem;
    max-width: 150px;
}

.A7{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.A8{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 8rem;
}
.button{
    background-color: #ed64a6;

}

.A9{
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.A10{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 2rem;

}





.i1 {
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
 .i1:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }

.language{
    height: auto;
    margin:0 auto;
    border-radius: 4px;
}
/* Table */
table {
    border: 1px solid #ccc;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
  }
  
  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }
  
  table th,
  table td {
    padding: .625em;
    text-align: center;
  }
  table td::before{
      display: none;
  }
  
  table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  

@media screen and (max-width: 1000px) {
  table {
    border: 0;
    display: none;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}



  


#main-port{
width: 100%;
position: relative;
}
.nav{
    width: 100%;
}
.nav .i1{
    position: absolute;
    font-size: 30px;
    margin: 10px 0 0 30px;
    width: 100%;
}
.nav .i1:hover{
    color:limegreen;
}
.nav .i2{
    position: absolute;
    font-size: 30px;
    margin: 10px 0 0 80px;
    width: 100%;
}
.nav .i3{
    position: absolute;
    font-size: 30px;
    margin: 10px 0 0 130px;
    width: 100%;
}
.img-port{
width: 100%;
background-color: inherit;

}
.img-port img{
    width: 100%;
    height: 400px;
    z-index: 2;
    object-position: 0 -100px;
    object-fit: cover;
}






.header-port{
    width: 100%;
text-align: center;
width: 100%;
}
.header{
    left: 50%;
    text-align: center;
    font-size: 3rem;
    color: #FFF;
    width: 100%;
}



/*======== rating =============*/
  .star-ratings-sprite {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin: 0 auto;
  }
  .star-ratings-sprite-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
  }